{% extends "v3/base_layout.html" %}
{% block page_title %}Acc&egrave;s non autoris&eacute;{% endblock %}

{% block content %}

<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <p>Acc&eacute;s non autoris&eacute;. Où allez-vous comme &ccedil;a ? La Neuneu Security Agency (NSA) sera
                notifi&eacute;e de cette intrusion</p>
        </div>
    </div>
</div>
{% endblock %}