{% extends "v3/base_layout.html" %}

{% block page_title %}Page non trouv&eacute;e{% endblock %}

{% block content %}

<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <p>Petit fouineur ! Que cherchez-vous r&eacute;ellement ?</p>
        </div>
    </div>
</div>
{% endblock %}