{% extends "v3/base_layout.html" %}

{% block page_title %}Plantage syst&egrave;e{% endblock %}

{% block content %}

<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <p>Pas de chance ! Kernel32 failure ! Revenez-plus tard... </p>
        </div>
    </div>
</div>

{% endblock %}