{% extends 'v3/base_layout.html' %}

{% set home_page = False %}

{% block page_title %}À propos{% endblock %}

{% block content %}
<div class="ui column centered grid">
    <div class="twelve wide mobile fourteen wide tablet six wide computer column">
        <div class="row">
            <div class="ui inverted huge header">
                <div class="content">&Agrave; propos</div>
            </div>
            <div class="ui inverted relaxed items">
                <div class="item">

                    <div class="content">
                        <div class="ui inverted header"><i class="help icon"></i> Pourquoi un tel site</div>
                        <div class="description" style="color: #c3c3c3;">
                            <p>L'id&eacute;e est venue au petit coin lorsqu'il &eacute;tait trop
                                fastidieux de
                                chercher le magazine dans
                                lequel se trouvait le test &agrave; (re)lire.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">

                    <div class="content">
                        <div class="ui inverted header"><i class="red heart icon"></i> Remerciements</div>
                        <div class="description" style="color: #c3c3c3;"><p>Merci &agrave; aux membres de la communaut&eacute;
                            de CanardPC qui
                            ont contribu&eacute; &agrave; la naissance de ce produit :<br>
                            eKaps, Akfgfragments, MadLL, Dazou, Zoleas, MystickTroy, jahwarrior, Noirdesir, leKteur,
                            Miniwaz.</p>
                            <p>Merci &agrave; Mr Ianou et Cl&eacute;ment Grimal pour le coup de
                                main
                                sur l'intégration des fiches &copy;Steam</p>
                            <p>Merci &agrave; la r&eacute;daction de CanardPC de l'avoir autoris&eacute;.</p>
                            <p>Merci à Nicolas Wurtz pour avoir imaginé <a target="_blank"
                                                                           href="https://canardvapeur.fr">canardvapeur.fr</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui inverted header"><i class="legal icon"></i> Mentions l&eacute;gales</div>

                        <div class="description" style="color: #c3c3c3;">
                            <p>Les illustrations utilis&eacute;es proviennent du dessinateur Didier Couly.</p>
                            <p>Les ic&ocirc;nes proviennent de la librarie FontAwesome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}