<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Coincoin PC - {% block page_title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="76x76"
          href="{{ url_for('static', filename='images/icons/coincoinpc/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='images/icons/coincoinpc/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='images/icons/coincoinpc/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/icons/coincoinpc/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/icons/coincoinpc/safari-pinned-tab.svg') }}"
          color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow"/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="keywords"
          content="magazine, coincoin, coincoinpc, cpc, canard, canardpc, jeux, jeu, jeux video, video games, test, moteur de recherche"/>
    <meta name="description" content="Coincoin PC : Moteur de recherche des tests parus dans le magazine CanardPC"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/coincoinpc.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">

    {% block css_block %}
    {% endblock %}
</head>
<body>

<!-- left block if needed-->
{% block left_block %} {% endblock %}

<!-- right block for sidebar menu -->
<div class="ui vertical inverted labelled right icon menu sidebar">
    <a class="item header" href="/index.html"><i class="large home purple icon"></i> <span
            class="ui purple text">Accueil</span></a>
    <a class="item" href="/magazines.html"><i class="large newspaper purple icon"></i> <span
            class="ui purple text">Magazines</span></a>
    <a class="item" href="/indexes.html"><i class="large search purple icon"></i> <span
            class="ui purple text">Classement</span></a>
    <a class="item" href="/about.html"><i class="info circle purple icon"></i> <span
            class="ui purple text">À propos</span></a>
</div>

<!-- Page Contents -->
<div class="pusher" style="background-color: #1b1c1d;">
    <div class="ui inverted vertical masthead center aligned segment">

        {% with has_right_menu=True,active_coincoinpc_menu_item=True %}
        {% include 'v3/includes/top_menu.html' %}
        {% endwith %}

        <div class="ui fluid container" style="margin-top: 1em;">
            {% block content %}{% endblock %}
        </div>

    </div>
    {% include 'v3/includes/footer.html' %}
</div>


<script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-3.7.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/semantic-ui/js/semantic.min.js') }}"></script>
<script defer>
    $(document)
        .ready(function () {

            // fix menu when passed
            $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
            ;

            // create sidebar and attach to menu open
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
            ;

        })
    ;
</script>
{% block js_scripts %}{% endblock %}
</body>

</html>

