{% extends "v3/base_layout.html" %}

{% block page_title %}Classements{% endblock %}

{% set home_page = False %}

{% block content %}
<div class="ui centered column grid">
    <div class="twelve wide mobile fourteen wide tablet six wide computer column">
        <div class="row">
            <div class="ui inverted huge header">
                <div class="content">Classements</div>
            </div>
            <div class="ui inverted horizontal divided list">
                <div class="inverted item">
                    <i class="large font icon"></i>
                    <div class="content">
                        <a class="huge header" href="/indexes/title.html">par titre</a>
                    </div>
                </div>
                <div class="inverted item">
                    <i class="large trophy icon"></i>
                    <div class="content">
                        <a class="huge header" href="/indexes/score.html">par note</a>
                    </div>
                </div>
                <div class="inverted item">
                    <i class="large user icon"></i>
                    <div class="content">
                        <a class="huge header" href="/indexes/reviewer.html">par testeur</a>
                    </div>
                </div>
                <div class="inverted item">
                    <i class="large military icon"></i>
                    <div class="content">
                        <a class="huge header" href="/indexes/genre.html">par genre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}