{% extends "v3/base_layout.html" %}

{% block page_title %}Classement par note{% endblock %}

{% set home_page = False %}

{% block content %}
<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <div class="ui inverted huge header">
                <div class="content">Classement par note</div>
            </div>

            <select class="ui inverted dropdown index-by-title">
                {% for score, _ in reviews | reverse %}
                <option class="item" label="{{ score }}" value="#tab{{ score }}">{% if score == -1 %}Autre{% else %}{{
                    score
                    }}/10{% endif %}
                </option>
                {% endfor %}
            </select>

            {% for score, reviews_per_score in reviews | reverse %}
            <div id="tab{{ score }}">
                <div class="ui inverted horizontal divider">{% if score == -1 %}Autre{% else %}{{ score }}/10{% endif
                    %}
                </div>
                <div class="ui animated list">
                    {% for review in reviews_per_score %}
                    <div class="item">
                        <a href="/review/{{ review._id }}.html">{{ review.title }}</a>
                        {% if review.score == -1 %}
                        <div class="right floated content">
                            <span style="color: #db2828;">{{ review.otherScore }}</span>
                            <span style="color: #c3c3c3;">/ 10</span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $('.ui.dropdown.index-by-title').dropdown({

        onChange: function (value, text, $choice) {
            var $letterAnchor = $(document).find(value);
            $('html, body').animate({
                scrollTop: $letterAnchor.offset().top - 50
            }, 100);
            return false;
        }

    });
</script>

{% endblock %}