{% extends "v3/base_layout.html" %}

{% set home_page = True %}

{% block css_block %}
<style>
    .ui.search > .results .result {
        background-color: #333333;
    }

    .ui.search > .results .empty {
        background-color: #333333;
    }

    .ui.search > .results .empty > .header {
        color: #c3c3c3;
    }

    .ui.search > .results .empty > .description {
        color: #c3c3c3;
    }

    .ui.search > .results .result:hover {
        background-color: #1b1c1d;
    }

    .ui.search > .results .result .title {
        color: #c3c3c3;
    }
</style>
{% endblock %}

{% block page_title %}le moteur de recherche des tests parus dans le magazine CanardPC{% endblock %}
{% block content %}
<div class="ui centered grid" style="margin-top: 2em;">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer aligned column">
            <div class="ui center aligned icon huge header">
                <img src="{{ url_for('static', filename='images/img32.png') }}"
                     class="ui circular image" style="border: 2px solid rgba(163, 51, 200, 0.8);" alt="Lapin">
                <br>
                <h2 class="ui inverted header">CoincoinPC</h2>
                <h3 class="ui inverted header computer only" style="color: #c3c3c3;">Le moteur de recherche des tests de
                    JV
                    parus dans le
                    magazine CanardPC
                </h3>
                <form class="ui big form" method="get" action="/search.html" id="searchForm">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <div class="ui search">
                                <div class="ui inverted large icon input">
                                    <input aria-label="rechercher un jeu testé" class="prompt"
                                           placeholder="Rechercher..." type="text" name="searchInput"
                                           autofocus style="background-color: #333333; color: #c3c3c3;">
                                    <i class="search inverted link icon" style="color: #c3c3c3;"></i>
                                </div>
                                <div class="reviews"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ten wide mobile six wide tablet two wide computer aligned column">
            <div class="ui small inverted statistic">
                <div class="value">
                    <i class="gamepad inverted icon" style="color: #c3c3c3;"></i> {{ statistics.videoGameEntryCount }}
                </div>
                <div class="inverted label" style="color: #c3c3c3;">
                    Fiches de JV
                </div>
            </div>
        </div>
        <div class="ten wide mobile six wide tablet two wide computer aligned column">
            <div class="ui small inverted statistic">
                <div class="value">
                    <i class="steam inverted icon" style="color: #c3c3c3;"></i> {{ statistics.steamInfoCount }}
                </div>
                <div class="inverted label" style="color: #c3c3c3;">
                    Fiches Steam associ&eacute;es
                </div>
            </div>
        </div>
        <div class="ten wide mobile six wide tablet two wide computer aligned column">
            <div class="ui small inverted statistic">
                <div class="value">
                    <i class="newspaper inverted icon" style="color: #c3c3c3;"></i> {{ statistics.issueCount }}
                </div>
                <div class="inverted label" style="color: #c3c3c3;">
                    n&deg; saisis
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $('.ui.search').search({
        apiSettings: {
            url: '/api/search?apiToken={{ api_token }}&searchInput={query}'
        },
        fields: {
            results: 'reviews',
            title: 'title',
            url: 'review_url'
        },
        preserveHTML: false,
        minCharacters: 3,
        error: {
            noResultsHeader: "Aucun titre trouvé",
            noResults: "Votre recherche n'a rien donné",
        }
    });
</script>
{% endblock %}
