{% extends "v3/base_layout.html" %}

{% block page_title %}Classement par genre{% endblock %}

{% set home_page = False %}

{% block content %}
<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <div class="ui inverted huge header">
                <div class="content">Classement par genre</div>
            </div>

            <select class="ui inverted dropdown index-by-title">
                {% for genre, _ in reviews %}
                <option class="item" label="{{ genre }}" value="#tab{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>

            {% for genre, reviews_per_genre in reviews %}
            <div id="tab{{ genre }}">
                <div class="ui inverted horizontal divider">{{ genre }}</div>
                <div class="ui animated list">
                    {% for review in reviews_per_genre %}
                    <div class="item">
                        <a href="/review/{{ review._id }}.html">{{ review.title }}</a>
                        <div class="right floated content">
                                <span style="color: #db2828;">
                                    {% if review.score == -1 %}
                                    {{ review.otherScore }}
                                    {% else %}
                                    {{ review.score }}
                                    {% endif %}
                                </span>
                            <span style="color: #c3c3c3;">
                                    / 10
                                </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

    {% block js_scripts %}
    <script>
        $('.ui.dropdown.index-by-title').dropdown({

            onChange: function (value, text, $choice) {
                var $letterAnchor = $(document).find(value);
                $('html, body').animate({
                    scrollTop: $letterAnchor.offset().top - 50
                }, 100);
                return false;
            }
        });
    </script>

    {% endblock %}