{% extends "v3/base_layout.html" %}

{% set home_page = False %}

{% block page_title %}Liste des magazines par année{% endblock %}

{% block content %}
<div class="ui centered column grid">
    <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
        <div class="row">
            <div class="ui inverted huge header">
                <i class="newspaper icon"></i>
                <div class="content">Liste des num&eacute;ros</div>
            </div>

            <div class="ui inverted segment">
                <select class="ui inverted dropdown magazine-year">
                    {% for magazine_year in magazine_years | reverse %}
                    <option class="item" label="{{ magazine_year }}" value="{{ magazine_year }}"
                            {% if magazine_year== year %}selected{% endif %}>
                        {{ magazine_year }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="ui inverted segment">
                {% if magazines %}
                <div class="ui six doubling cards">
                    {% for magazine in magazines %}
                    <a href="/magazine/{{ magazine.issueNumber }}.html" class="ui inverted fluid card">
                        <div class="ui centered small image">
                            <img src="{{ magazine.coverTnUrl }}"/>
                        </div>
                        <div class="content">
                            <div class="header" style="text-align: center">N&deg;{{ magazine.issueNumber }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js_scripts %}
<script>
    $('.ui.dropdown.magazine-year').dropdown({

        onChange: function (value, text, $choice) {
            window.location = '/magazines.html?year=' + value;
        }

    });
</script>

{% endblock %}