{% extends 'v3/base_layout.html' %}

{% set home_page = False %}

{% block page_title %}CanardPC #{{ magazine.issueNumber }}{% endblock %}
{% block content %}
<div class="ui column centered grid" style="padding: 1em;">
    <div class="row">
        <div class="wide column">
            <img class="ui medium centered image" src="{{ magazine.coverTnUrl }}">
        </div>
    </div>
    <div class="row">
        <div class="wide column">
            <div class="ui inverted centered huge header">
                <div class="content">
                    {{ magazine.title }}
                    <div class="sub header" style="color: #c3c3c3;">
                        {{ magazine.subTitle }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide mobile fourteen wide tablet eight wide computer column">
            <div class="ui relaxed items">
                <div class="item">
                    <table class="ui inverted centered very basic collapsing compact unstackable table"
                           style="margin: 0 auto; text-align: center;">
                        <tbody>
                        <tr>
                            <td class="ui inverted header">N&deg;{{ magazine.issueNumber }}</td>
                        </tr>
                        <tr>
                            <td style="color: #c3c3c3;">Paru le {{ magazine.issueDate }}</td>
                        </tr>
                        <tr>
                            <td><a href="{{ magazine.tableOfContentUrl }}" target="_blank">Sommaire complet</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% if magazine.reviews.PC %}
                <div class="ui inverted medium header">
                    <i class="computer icon"></i>
                    <div class="content">
                        Jeux PC
                    </div>
                </div>
                <div class="ui two stackable cards" style="margin-top: 0.5em;">
                    {% for review in magazine.reviews.PC %}
                    <a class="ui inverted card" href="/review/{{ review._id }}.html">
                        <div class="content">
                            <div class="header">{{ review.title }}</div>
                            <div class="meta">
                                {{ review.subTitle }}
                            </div>
                        </div>
                        <div class="content">
                            {% if review.coverTnUrl %}
                            <img class="ui image" src="{{ review.coverTnUrl }}">
                            {% else%}
                            <div class="ui icon header">
                                <i class="image outline icon"></i>
                                Pas de vignette
                            </div>
                            {% endif %}
                        </div>

                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui mini avatar image"
                                     src="{{ review.reviewer.reviewerTnUrl }}">
                                {{ review.reviewer.name }}
                                <div class="ui left pointing inverted red basic label">
                                    {% if review.score == -1 %}
                                    {{ review.otherScore }}
                                    {% else %}
                                    {{ review.score }}
                                    {% endif %}
                                    /10
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}

                {% if magazine.reviews.console %}
                <div class="ui inverted medium header">
                    <i class="gamepad icon"></i>
                    <div class="content">
                        Jeux console
                    </div>
                </div>
                <div class="ui two stackable cards" style="margin-top: 0.5em;">
                    {% for review in magazine.reviews.console %}
                    <a class="ui inverted card" href="/review/{{ review._id }}.html">
                        <div class="content">
                            <div class="header">{{ review.title }}</div>
                            <div class="meta">
                                {{ review.subTitle }}
                            </div>
                        </div>
                        <div class="content">
                            {% if review.coverTnUrl %}
                            <img class="ui image" src="{{ review.coverTnUrl }}">
                            {% endif %}
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui mini avatar image"
                                     src="{{ review.reviewer.reviewerTnUrl }}">
                                {{ review.reviewer.name }}
                                <div class="ui left pointing inverted red basic label">
                                    {% if review.score == -1 %}
                                    {{ review.otherScore }}
                                    {% else %}
                                    {{ review.score }}
                                    {% endif %}
                                    /10
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if magazine.reviews.board %}
                <div class="ui inverted medium header">
                    <i class="dice icon"></i>
                    <div class="content">
                        Canard Dé
                    </div>
                </div>
                <div class="ui two stackable cards" style="margin-top: 0.5em;">
                    {% for review in magazine.reviews.board %}
                    <a class="ui inverted card" href="/coin-de-table/review/{{ review._id }}.html">
                        <div class="content">
                            <div class="header">{{ review.title }}</div>
                            <div class="meta">
                                {{ review.subTitle }}
                            </div>
                        </div>
                        <div class="content">
                            {% if review.coverTnUrl %}
                            <img class="ui image" src="{{ review.coverTnUrl }}">
                            {% endif %}
                        </div>
                        <div class="extra content">
                            <div class="right floated author">
                                <img class="ui mini avatar image"
                                     src="{{ review.reviewer.reviewerTnUrl }}">
                                {{ review.reviewer.name }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}