{% extends "v3/base_layout.html" %}

{% block page_title %}Jeux testés par {{ reviewer_name }}{% endblock %}

{% set home_page = False %}

{% block content %}
<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <div class="ui inverted huge header">
                <div class="content">Jeux testés par {{ reviewer_name }}</div>
            </div>

            <select class="ui inverted dropdown index-by-title">
                {% for year, _ in reviews | reverse %}
                <option class="item" label="{{ year }}" value="#tab{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>

            {% for year, reviews_per_year in reviews | reverse %}
            <div id="tab{{ year }}">
                <div class="ui inverted horizontal divider">{{ year }}</div>
                <div class="ui animated list">
                    {% for review in reviews_per_year %}
                    <div class="item">
                        <a href="/review/{{ review._id }}.html">{{ review.title }}</a>
                        <div class="right floated content">
                                <span style="color: #db2828;">
                                    {% if review.score == -1 %}
                                    {{ review.otherScore }}
                                    {% else %}
                                    {{ review.score }}
                                    {% endif %}
                                </span>
                            <span style="color: #c3c3c3;">
                                    / 10
                                </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $('.ui.dropdown.index-by-title').dropdown({

        onChange: function (value, text, $choice) {
            var $letterAnchor = $(document).find(value);
            $('html, body').animate({
                scrollTop: $letterAnchor.offset().top - 50
            }, 100);
            return false;
        }

    });
</script>

{% endblock %}