{% extends 'v3/base_layout.html' %}

{% set home_page = False %}

{% block page_title %}Test de {{ review.title }}{% endblock %}

{% block css_block %}
<style>

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.5s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dot-navigation {
        text-align: center;
        margin-top: .5em;
    }

    .accordion .active {
        background-color: #1b1c1d;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile twelve wide tablet eight wide computer column">
            <div class="ui inverted centered huge header">
                <div class="content">
                    {{ review.title }}
                    <div class="sub header">
                        {{ review.subTitle }}
                    </div>
                </div>
            </div>
            <div class="ui inverted relaxed items">
                {% if review.game_info %}
                <div class="item">
                    <div class="content" style="color: #c3c3c3; background-color: #161616; padding: 0.5em;">
                        <p>{{ review.game_info.short_description | safe }}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="slideshow-container">
                        {% for screenshot in review.game_info.screenshots %}
                        <div class="mySlides fade">
                            <img class="ui image" src="{{ screenshot.path_thumbnail}}" decoding="async">
                        </div>
                        {% endfor %}
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        <div class="dot-navigation">
                            {% for index in range(1, review.game_info.screenshots | length) %}
                            <span class="dot" onclick="currentSlide({{ index }})"></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                {% if review.coverTnUrl %}
                <div class="item">
                    <div class="slideshow-container"><img class="ui centered image" src="{{ review.coverTnUrl }}"/>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                <div class="item">
                    <div class="content" style="padding: 0.5em; background-color: #161616;">
                        <div class="header">
                            <a class="ui purple link" href="/reviewer/{{ review.reviewer.name }}.html">
                                <img class="ui avatar image"
                                     src="{{ review.reviewer.reviewerTnUrl }}"
                                     decoding="async">
                                {{ review.reviewer.name }}
                            </a>
                        </div>
                        {% if review.critic %}
                        <div class="description">
                            <p style="font-style: italic; color: #c3c3c3; font-size: larger;">
                                <i class="quote left icon" style="color: #ffffff;"></i>
                                {{ review.critic }}
                                <i class="quote right icon" style="color: #ffffff;"></i>
                            </p>
                        </div>
                        {% endif %}
                        {% if review.reviewUrl %}
                        <div class="description" style="text-align: center; margin-top: 1em;">
                            <a href="{{ review.reviewUrl }}" target="_blank"
                               class="ui floated right purple basic button">Voir le test
                                complet<i class="external alternate icon" style="margin-left: 6px;"></i></a>
                        </div>
                        {% endif %}

                        <div class="extra">
                            <div class="ui red small horizontal statistic">
                                <div class="value">
                                    {% if review.score == -1 %}
                                    {{ review.otherScore }}
                                    {% else %}
                                    {{ review.score }}
                                    {% endif %}
                                </div>
                                <div class="ui inverted">
                                    / 10
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/magazine/{{ review.issue.issueNumber }}.html" class="ui small image"
                       style="margin: 0.5em;">
                        <div class="ui red right ribbon label">
                            N&deg;{{ review.issue.issueNumber }}
                        </div>
                        <img src="{{ review.issue.coverTnUrl }}" decoding="async">
                    </a>
                </div>
                <div class="ui divider"></div>

                {% if review.game_info %}
                <div class="item">
                    <details class="ui inverted basic accordion">
                        <summary class="title">
                            <i class="dropdown icon"></i>
                            À propos du jeu
                        </summary>
                        <div id="steamGameInfo" class="content"
                             style="color: #c3c3c3; background-color: #161616; padding: 0.5em;">
                            <p>{{ review.game_info.about_the_game | safe }}</p>
                        </div>
                    </details>
                </div>
                {% endif %}
                <div class="item">
                    <details class="ui inverted basic accordion">
                        <summary class="title">
                            <i class="dropdown icon"></i>
                            Spécifications du jeu
                        </summary>
                        <div class="content" style="background-color: #161616; padding: 0.5em;">
                            <table class="ui inverted centered very basic collapsing compact unstackable table"
                                   style="margin: 0 auto;">
                                {% if review.game_info %}
                                <tbody>
                                <tr>
                                    <td><strong>Studio</strong></td>
                                    <td>
                                        {% for studio in review.game_info.developers %}
                                        <a href="/studio/{{ studio }}.html">{{ studio }}</a>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Éditeur</strong></td>
                                    <td style="color: #c3c3c3;">
                                        {% for publisher in review.game_info.publishers %}
                                        <a href="/publisher/{{ publisher }}.html">{{ publisher }}</a>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Genre</strong></td>
                                    <td style="color: #c3c3c3;"><a href="/genre/{{ review.primaryGenre }}.html">{{
                                        review.displayedGenre }}</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Plateforme</strong></td>
                                    <td style="color: #c3c3c3;">
                                        {% if review.game_info.platforms.windows %}
                                        <i class="ui icon windows"></i> Windows
                                        {% endif %}
                                        {% if review.game_info.platforms.mac %}
                                        <i class="ui icon apple"></i> Mac
                                        {% endif %}
                                        {% if review.game_info.platforms.linux %}
                                        <i class="ui icon linux"></i> Linux
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top aligned"><strong>Localisation</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.game_info.supported_languages | safe }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Date de parution</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.game_info.release_date.date }}</td>
                                </tr>

                                <tr>
                                    <td><strong>Prix</strong></td>
                                    <td style="color: #c3c3c3;">
                                        {% if review.game_info.price_overview %}
                                        {{ review.game_info.price_overview.final_formatted }}
                                        {% else %}
                                        Non communiqu&eacute;
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="top aligned">
                                    <td><strong>Configuration PC</strong></td>
                                    <td style="color: #c3c3c3;">
                                        {{ review.game_info.pc_requirements.minimum | safe }}
                                        {{ review.game_info.pc_requirements.recommended | safe }}
                                    </td>
                                </tr>
                                </tbody>
                                {% else %}
                                <tbody>
                                <tr>
                                    <td><strong>Studio</strong></td>
                                    <td style="color: #c3c3c3;">
                                        {% if review.studioName %}
                                        <a href="/studio/{{ review.studioName }}.html">{{ review.studioName }} ({{
                                            review.country }})</a>
                                        {% else %}
                                        <a href="/studio/{{ review.studio }}.html">{{ review.studio }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Éditeur</strong></td>
                                    <td><a href="/publisher/{{ review.publisher }}.html">{{ review.publisher }}</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Genre</strong></td>
                                    <td><a href="/genre/{{ review.primaryGenre }}.html">{{ review.displayedGenre }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Plateforme</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.plateform }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Ann&eacute;e</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.year }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Prix</strong> (lors du test)</td>
                                    <td style="color: #c3c3c3;">{{ review.price }}</td>
                                </tr>
                                <tr>
                                    <td><strong>DRM</strong></td>
                                    <td>{{ review.drm }}</td>
                                </tr>
                                </tbody>
                                {% endif %}
                            </table>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block legal_notice %}
{% if review.game_info %}
<p>{{ review.game_info.legal_notice | safe }}</p>
{% endif %}
{% endblock %}

{% block js_scripts %}
<script>
    let slideIndex = 1;
    const slides = document.getElementsByClassName("mySlides");
    const dots = document.getElementsByClassName("dot");
    if (slides.length > 0) {
        showSlides(slideIndex);
    }

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (let i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        if (n === slides.length) {
            dots[0].className += " active";
        } else {
            dots[slideIndex - 1].className += " active";
        }
    }

    $(document).ready(function () {
        $('#steamGameInfo').find('img').attr('class', 'ui centered image');
    });
</script>
{% endblock %}
