{% extends 'v3/base_layout.html' %}

{% set home_page = False %}

{% block page_title %}R&eacute;sultats de la recherche &apos;{{ search_value }}&apos;{% endblock %}

{% block css_block %}
<style>
    .ui.search > .results .result {
        background-color: #333333;
    }

    .ui.search > .results .empty {
        background-color: #333333;
    }

    .ui.search > .results .empty > .header {
        color: #c3c3c3;
    }

    .ui.search > .results .empty > .description {
        color: #c3c3c3;
    }

    .ui.search > .results .result::selection {
        background-color: #1b1c1d;
    }

    .ui.search > .results .result .title {
        color: #c3c3c3;
    }

    .ui.search > .results .result .title::selection {
        color: #ffffff;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui column centered grid">
    <div class="twelve wide tablet eight wide computer column">
        <form class="ui big form" method="get" action="/search.html" id="searchForm">
            <div class="fields">
                <div class="twelve wide field" style="margin-left: auto; margin-right: auto;">
                    <div class="ui search">
                        <div class="ui inverted icon input">
                            <input class="prompt" placeholder="Rechercher..." type="text" name="searchInput"
                                   autofocus style="background-color: #333333; color: #c3c3c3;">
                            <i class="search inverted link icon" style="color: #c3c3c3;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h3 class="ui inverted header">{{ reviews | length }} <span style="color: #c3c3c3;">r&eacute;sultat(s) trouv&eacute;(s)</span>
        </h3>

        <div class="ui inverted relaxed divided items" id="results">
            {% for review in reviews %}
            <div class="item">
                {% if review.coverTnUrl %}
                <div class="image">
                    <img src="{{review.coverTnUrl}}" decoding="async">
                </div>
                {% endif %}
                <div class="content">
                    <a href="/review/{{ review._id }}.html"><span class="ui large text">{{ review.title }}</span></a>

                    <div class="meta">
                        {% if review.studioName %}
                        <a href="/studio/{{ review.studioName }}.html">{{ review.studioName }}</a> -
                        {% else %}
                        <a href="/studio/{{ review.studio }}.html">{{ review.studio }}</a> -
                        {% endif %}
                        <a href="/publisher/{{ review.publisher }}.html">{{ review.publisher }}</a> -
                        <a href="/genre/{{ review.primaryGenre }}.html">{{ review.displayedGenre }}</a> -
                        {{ review.year }} -
                        {{ review.plateform }}
                    </div>
                    <div class="description">
                        {{ review.subTitle }}
                    </div>
                    <div class="extra">
                        <a href="/reviewer/{{ review.reviewer.name }}.html">
                            <img src="{{ review.reviewer.reviewerTnUrl }}"
                                 class="ui avatar image">
                            {{ review.reviewer.name }}
                        </a>
                        <div class="ui left pointing inverted red basic label">
                            {% if review.score == -1 %}
                            {{ review.otherScore }}
                            {% else %}
                            {{ review.score }}
                            {% endif %}
                            /10
                        </div>
                    </div>
                    <div class="extra">
                        <a href="/magazine/{{ review.issue.issueNumber }}.html"><i class="newspaper inverted large red icon"></i>CPC N&deg;{{ review.issue.issueNumber }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block js_scripts %}
<script>
    $('.ui.search').search({
        apiSettings: {
            url: '/api/search?apiToken={{ api_token }}&searchInput={query}'
        },
        fields: {
            results: 'reviews',
            title: 'title',
            url: 'review_url'
        },
        minCharacters: 3,
        error: {
            noResultsHeader: 'Aucun titre trouvé',
        }
    });
</script>
{% endblock %}

