{% extends "v3/vapor/base_layout.html" %}

{% block css_block %}
<style>
    .canardvapeur.logo {
        opacity: 1;
        width: 4rem;
        height: 4rem;
        display: inline-block;
    }

    .canardvapeur.icon {
        opacity: 1;
        width: 2rem;
        height: 2rem;
        display: inline-block;
    }

    .ui.fixed.sticky + div {
        margin-top: 39px;
    }
</style>
{% endblock %}

{% block content %}
<div class="ui column centered grid" id="canardVapeur">
    <div v-show="step === 'login'" class="fourteen wide mobile ten wide tablet four wide computer column">
        <div class="ui center aligned icon huge header">
            <span class="canardvapeur logo"></span>
            <div class="ui inverted header" style="margin-top: 0">
                <h2>Canard vapeur <span class="ui orange text">beta</span></h2>
                <h3 class="ui header" style="color: #c3c3c3;">Affichez vos jeux Steam et leur fiche Canard PC</h3>
            </div>
            <form class="ui big inverted form" @submit.prevent="findMyGamesBySteamNickname">
                <div class="fields">
                    <div class="sixteen wide field">
                        <div :class="{ loading: loadingForSteamNickname}"
                             class="ui large icon input">
                            <input id="steamNickname"
                                   aria-label="Entrez votre pseudo Steam" class="prompt"
                                   type="search"
                                   placeholder="Entrez votre pseudo Steam"
                                   v-model="steamNickname"
                                   autofocus style="background-color: #333333; color: #c3c3c3;">
                            <i class="search link icon" style="color: #c3c3c3;"
                               @click="findMyGamesBySteamNickname"></i>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ui horizontal inverted divider">
                Ou
            </div>
            <form class="ui big inverted form" @submit.prevent="findMyGamesBySteamId">
                <div class="fields">
                    <div class="sixteen wide field">
                        <div :class="{ loading: loadingForSteamId}"
                             class="ui large icon input">
                            <input id="steamId"
                                   aria-label="Entrez votre id Steam 64 Dec" class="prompt"
                                   type="search"
                                   placeholder="Entrez votre id Steam 64 Dec"
                                   v-model="steamId"
                                   autofocus style="background-color: #333333; color: #c3c3c3;">
                            <i class="search link icon" style="color: #c3c3c3;"
                               @click="findMyGamesBySteamId"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div v-if="hasError" class="ui negative small message">
            <div class="header">Waring !</div>
            [[ error ]]
        </div>
        <div class="ui inverted message">
            <div class="header">
                Notes :
            </div>
            <p>
                Votre id Steam 64 Dec (sous la forme 76591197974395885 par exemple) peut être trouvé grâce à ce
                <a target="_blank" href="https://steamidfinder.com/">site</a>.
            </p>
            <p>
                Votre profil ne doit pas être privé.
            </p>
            <p>
                Aucune donnée n'est stockée côté serveur, l'identifiant Steam est envoyé puis les données retournées
                sont stockées uniquement dans le cache de votre navigateur.
            </p>
            <p>
                Cette application est une adaptation de <a target="_blank" href="https://canardvapeur.fr">canardvapeur.fr</a>
                imaginée par
                <a target="_blank" href="https://twitter.com/NicolasW_GRAOU"><i class="ui twitter icon"></i> Nicolas
                    Wurtz</a>.
            </p>
        </div>
    </div>
    <div v-show="step == 'my_games'" class="fourteen wide tablet ten wide computer column">
        <div class="ui center aligned icon huge header">
            <span class="canardvapeur icon"></span>
            <div class="ui inverted header" style="margin-top: 0">
                <h4>Canard vapeur <span class="ui orange text">beta</span></h4>
            </div>
        </div>
        <div v-if="userInfos" class="ui inverted relaxed divided items">
            <div class="item">
                <div class="ui tiny image">
                    <img :src="userInfos.avatar_url">
                </div>
                <div class="content">
                    <div class="header">
                        <a :href="userInfos.profile_url"><span>[[ userInfos.nickname ]]</span></a>
                    </div>
                    <div class="meta">
                        <span>[[ userInfos.realname ]]</span>
                        <div class="ui right floated">
                            <button @click="refreshProfileData"
                                    class="ui inverted big icon button"
                                    :class="{ loading: loadingForSteamId}"
                                    title="Rafraîchir les données">
                                <i class="redo icon"></i>
                            </button>
                            <button @click="cleanProfileData"
                                    class="ui inverted blue big icon button"
                                    title="Quitter">
                                <i class="sign out alternate blue icon"></i>
                            </button>
                        </div>

                    </div>
                    <div class="description">
                        <div class="ui basic inverted olive label">
                            <i class="gamepad icon"></i>
                            [[ foundGames.length ]]
                            jeux
                        </div>
                        <div class="ui basic inverted pink label">
                            <i class="heart icon"></i>
                            [[ wishedGames.length ]]
                            jeux souhaités
                        </div>
                        <div class="ui basic inverted blue label">
                            <i class="filter icon"></i>
                            [[ displayedGames.length ]]
                            filtrés
                        </div>
                        <div class="ui basic inverted grey label">
                            <i class="hourglass icon"></i>
                            [[ totalPlayedTime ]]
                            de temps de jeu
                        </div>
                        <div :class="`ui ${findColor(meanScore)} label`"
                             title="Moyenne des notes des jeux affichés">
                            Note moyenne :
                            [[ meanScore ]]
                        </div>
                    </div>
                    <div class="description">
                        <div v-for="game in displayedGames"
                             :class="`ui ${colorishScore(game)} empty circular label`"
                             :title="game.title"
                             style="min-width: 0.5em; min-height: 0.5em"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui inverted form">
            <div class="inline fields">
                <div class="six wide field">
                    <div class="ui fluid icon input">
                        <input class="prompt" placeholder="Rechercher..."
                               type="text" name="searchInput"
                               v-model="searchGame"
                               autofocus style="background-color: #333333; color: #c3c3c3; margin-left: 0;">
                        <i class="search link icon" style="color: #c3c3c3;"></i>
                    </div>
                </div>
                <div class="four wide field">
                    <label class="inverted text" for="sortBy">Tri par</label>
                    <select class="ui inverted dropdown"
                            name="sortBy" v-model="sortBy"
                            id="sortBy">
                        <option value="title">titre</option>
                        <option value="score">note</option>
                        <option value="year">année</option>
                        <option value="spentTime">temps de jeu</option>
                    </select>
                </div>
                <div class="three wide field">
                    <div class="ui toggle inverted checkbox">
                        <label class="ui text" for="displayNeverPlayedGameOnly">Jamais jou&eacute;</label>
                        <input id="displayNeverPlayedGameOnly" type="checkbox" tabindex="0" class="hidden"
                               v-model="displayNeverPlayedGameOnly">
                    </div>
                </div>
                <div class="three wide field">
                    <div class="ui toggle inverted checkbox">
                        <label class="ui text" for="displayWishListOnly">jeux souhait&eacute;s</label>
                        <input id="displayWishListOnly" type="checkbox" tabindex="0" class="hidden"
                               v-model="displayWishListOnly">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted relaxed divided items" style="margin-top: 2em">
            <div v-for="game in displayedGames" class="item">
                <div class="ui medium image">
                    <div class="ui right corner icon label"
                         title="Page Steam du jeu">
                        <a :href="`https://store.steampowered.com/app/${game.steamInfo.appid}`"
                           target="_blank">
                            <i class="ui steam icon"></i>
                        </a>
                    </div>
                    <img :src="game.coverTnUrl" decoding="async">
                </div>
                <div class="content" style="width: 100% !important;">
                    <div class="header">
                        <a target="_blank" :href="game.reviewUrl" title="Page du test CPC">[[ game.title ]]</a>
                    </div>
                    <div class="meta">
                        <a v-if="game.issueNumber" class="ui red label"
                           :href="`/magazine/${game.issueNumber}.html`"
                           target="_blank"
                           title="Magazine CPC">Mag n&deg;[[ game.issueNumber ]]
                        </a>
                        <div v-if="game.year" class="ui blue label"
                             title="Année de sortie">[[ formatGameYear(game.year) ]]
                        </div>
                        <div v-else class="ui blue label"
                             title="Année de sortie">NC
                        </div>
                        <div v-if="!game.steamInfo.wished" class="ui label"
                             title="Temps de jeu">[[ convertTime(game.steamInfo.playtime_forever) ]]
                        </div>
                        <div v-else class="ui pink icon label"
                             title="jeu souhaité">
                            <i class="heart icon"></i>
                            [[ displayPrice(game.steamInfo.discountInfo) ]]
                        </div>
                    </div>
                    <div v-if="game.subTitle" class="description">
                        [[ game.subTitle ]]
                    </div>
                    <div v-if="game.reviewer" class="description">
                        <a class="extra link" @click="toogleCritic(game)" title="Afficher l'avis">
                            <img :src="game.reviewer.reviewerTnUrl"
                                 class="ui avatar image">
                            [[ game.reviewer.name]]
                            <div :class="`ui right floated ${colorishScore(game)} circular huge label`">
                                [[ displayScore(game) ]]
                            </div>
                        </a>
                    </div>
                    <div v-else class="description">
                        <div :class="`ui right floated pink circular huge label`">
                            [[ displayScore(game) ]]
                        </div>
                    </div>
                    <div v-if="game.critic" class="extra" v-show="game.showCritic">
                        <p style="font-style: italic; color: #c3c3c3;">
                            <i class="quote left small icon" style="color: #ffffff;"></i>
                            [[ game.critic ]]
                            <i class="quote right small icon" style="color: #ffffff;"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='vendor/vuejs/vue.global.prod.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/axios/axios.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/luxon/luxon.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/lodash/lodash.min.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/vapor/vapor.js') }}"></script>
{% endblock %}
