
.ui.form input[type="text"]:focus {
    border-color: #c3c3c3;
}

.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 500px;
    padding: 1em 0;
}

.footer.segment {
    padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }
}

.canardvapeur {
    background-image: url("../images/canard-vapeur.svg");
}

.canardvapeur.icon {
    opacity: 1;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.coincoinpc-link {
    color: #e1e1e2 !important;
}

.coincoinpc-link:hover {
    color: #db2828 !important;
}

.plato-link {
    color: #e1e1e2 !important;
}

.plato-link:hover {
    color: #fbbd08 !important;
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
}