{% extends "v3/base_layout.html" %}

{% block content %}
<div class="ui column centered grid" style="margin-top: 2em;">
    <div class="row">
        <div class="twelve wide tablet eight wide computer column">
            <div class="ui inverted secondary pointing menu" id="adminSubmenu">
                <a class="item" href="/admin/canardeurs.html">Tableau de bord</a>
                <a class="item" href="/admin/magazines.html">
                    Magazines
                </a>
                <a class="item" href="/admin/reviews.html">
                    Jeux vidéo
                </a>
                <a class="item" href="/admin/reviewers.html">
                    Testeurs
                </a>
            </div>
            <div class="ui inverted segment">
                {% block admin_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='vendor/vuejs/vue.global.prod.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/axios/axios.min.js') }}"></script>
<script type="text/javascript">
    $('#adminSubmenu').find('> a').removeClass('active');
</script>
{% endblock %}