{% extends "admin/v3/admin_layout.html" %}

{% block page_title %}Administration : Tableau de bord{% endblock %}

{% block admin_content %}
<div class="ui icon header">
    <i class="inverted edit outline icon"></i>
    Sélectionnez une rubrique pour saisir les données
</div>
{% endblock %}