{% extends "v3/base_layout.html" %}

{% block page_title %}Connexion{% endblock %}

{% block content %}

<div class="ui centered grid" style="margin-top: 2em;">
    <div class="row">
        <div class="twelve wide mobile column eight wide tablet column six wide computer column">
            <form class="ui inverted form" action="/signin" method="POST">
                <h4 class="ui inverted horizontal divider header">Authentification</h4>
                {{ form.hidden_tag() }}
                <div class="field">
                    <label>Identifiant :</label>
                    {{ form.email(style='color: #ffffff; background-color: #333333') }}
                </div>
                <div class="field">
                    <label>Mot de passe :</label>
                    {{ form.password(style='color: #ffffff; background-color: #333333') }}
                </div>
                {{ form.submit(class='ui primary button', value='Se connecter') }}
            </form>
        </div>
    </div>
</div>

{% endblock %}