{% extends "admin/v3/admin_layout.html" %}

{% block page_title %}Administration : gestion des magazines{% endblock %}

{% block admin_content %}
<div class="ui column centered grid" style="padding: 1em;" id="magazineForm">
    <div class="row">
        <div class="wide column">
            <form class="ui form" @submit.prevent="searchIssue">
                <div class="inline fields">
                    <div class="eight wide field">
                        <label style="color: #c3c3c3" for="issueNumberToSearch">Rechercher</label>
                        <input id="issueNumberToSearch" placeholder="Numéro de magazine" type="search"
                               v-model="issueToSearch"
                               style="color: #ffffff; background-color: #333333">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" v-if="filteredMagazines.length > 0">
        <div class="wide column">
            <table class="ui inverted celled fixed table">
                <thead>
                <tr>
                    <th>N&deg;</th>
                    <th>Titre</th>
                    <th></th>
                </tr>
                </thead>
                <tbody v-for="magazine in filteredMagazines">
                <tr>
                    <td>[[ magazine.issueNumber ]]</td>
                    <td>[[ magazine.title ]]</td>
                    <td>
                        <button class="ui button" @click="editMagazineIssue(magazine)">
                            <i class="edit icon"></i>
                            Editer
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="wide column">
            <h3>Editer un num&eacute;ro de Canard PC</h3>
            <form class="ui inverted form" style="color: #c3c3c3" id="magazineFormBody"
                  @submit.prevent>
                <input type="hidden" v-model="magazineIssueForm.id">

                <div class="two wide fields">
                    <div class="four wide field">
                        <label style="color: #c3c3c3" for="issueNumber">Num&eacute;ro</label>
                        <input id="issueNumber" type="number" v-model="magazineIssueForm.issueNumber"
                               @input="magazineIssueForm.coverTnUrl = coverTnCdnUrl($event)"
                               style="color: #ffffff; background-color: #333333" required>
                    </div>
                    <div class="four wide field">
                        <label style="color: #c3c3c3" for="issueDate">Date de parution</label>
                        <input id="issueDate" type="text" v-model="magazineIssueForm.issueDate" placeholder="JJ/MM/AAAA"
                               style="color: #ffffff; background-color: #333333" required>
                    </div>
                </div>
                <div class="field">
                    <label style="color: #c3c3c3" for="title">Titre</label>
                    <input id="title" type="text" v-model="magazineIssueForm.title"
                           style="color: #ffffff; background-color: #333333" required>
                </div>
                <div class="field">
                    <label style="color: #c3c3c3" for="subTitle">Sous-titre</label>
                    <input id="subTitle" type="text" v-model="magazineIssueForm.subTitle"
                           style="color: #ffffff; background-color: #333333">
                </div>
                <div class="field">
                    <label style="color: #c3c3c3" for="coverTnUrl">Couverture</label>
                    <input id="coverTnUrl" type="url" v-model="magazineIssueForm.coverTnUrl"
                           style="color: #ffffff; background-color: #333333" required>
                </div>
                <div class="field">
                    <label style="color: #c3c3c3" for="tableOfContentUrl">Lien sommaire (Presse Non Stop)</label>
                    <input id="tableOfContentUrl" type="url" v-model="magazineIssueForm.tableOfContentUrl"
                           style="color: #ffffff; background-color: #333333" required>
                </div>
                <button class="ui primary button" @click="saveMagazineIssue">Enregistrer</button>
                <button class="ui button" @click="clearForm">Effacer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script>
    $('#adminSubmenu').find('> a:contains("Magazines")').addClass('active');
</script>
<script type="module" src="{{ url_for('static', filename='js/admin/magazines.js') }}"></script>
{% endblock %}