{% extends "admin/v3/admin_layout.html" %}

{% block css_block %}
<style>
    .ui.search > .results .result {
        background-color: #333333;
    }

    .ui.search > .results .empty {
        background-color: #333333;
    }

    .ui.search > .results .empty > .header {
        color: #c3c3c3;
    }

    .ui.search > .results .empty > .description {
        color: #c3c3c3;
    }

    .ui.search > .results .result::selection {
        background-color: #1b1c1d;
    }

    .ui.search > .results .result .title {
        color: #c3c3c3;
    }

    .ui.search > .results .result .title::selection {
        color: #ffffff;
    }

    input, textarea {
        color: #ffffff !important;
        background-color: #333333 !important;
    }

</style>
{% endblock %}

{% block page_title %}Administration : gestion des tests de jeu vidéo{% endblock %}

{% block admin_content %}
<div class="ui column centered grid" style="padding: 1em;" id="reviewForm">
    <div class="row">
        <div class="wide column">
            <form class="ui form" @submit.prevent="searchReview">
                <div class="inline fields">
                    <label style="color: #c3c3c3">Rechercher</label>
                    <div class="ten wide field">
                        <input type="text" placeholder="titre de jeu vidéo..." v-model="reviewToSearch">
                    </div>
                    <div class="four wide field">
                        <input type="text" placeholder="numéro de magazine..." v-model="issueToSearch">
                    </div>
                    <div class="field">
                        <button class="ui button" @click="searchReview"><i class="search icon"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" v-if="filteredReviews.length > 0">
        <div class="wide column">
            <table class="ui inverted celled fixed table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>N&deg; mag</th>
                    <th>Plateforme</th>
                    <th></th>
                </tr>
                </thead>
                <tbody v-for="review in filteredReviews">
                <tr>
                    <td>[[ review.title ]]</td>
                    <td>[[ review.issue.issueNumber ]]</td>
                    <td><span class="ui label">[[ review.plateform ]]</span></td>
                    <td>
                        <button class="ui button" @click="editReview(review)">
                            <i class="edit icon"></i>
                            Editer
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="wide column">
            <h3>Editer un test de jeu vidéo</h3>
            <form @submit.prevent class="ui inverted form">
                <input type="hidden" v-model="reviewForm.id">
                <h4 class="ui inverted horizontal divider header">Informations du jeu</h4>
                <div class="row">
                    <div class="field">
                        <label for="title">Titre</label>
                        <input id="title" type="text" v-model="reviewForm.title">
                    </div>
                    <div class="field">
                        <label for="subTitle">Sous-titre</label>
                        <input id="subTitle" type="text" v-model="reviewForm.subTitle">
                    </div>
                    <div class="two wide fields">
                        <div class="four wide field">
                            <label for="steamAppId">Id Steam si jeu PC</label>
                            <input id="steamAppId" type="number" v-model="reviewForm.steamAppId">
                        </div>
                        <div class="eight wide field">
                            <label for="coverTnUrl">URL vignette</label>
                            <input id="coverTnUrl" type="url" v-model="reviewForm.coverTnUrl">
                        </div>
                    </div>
                    <div class="two wide field">
                        <label for="year">Ann&eacute;e</label>
                        <input id="year"
                               type="number" v-model="reviewForm.year">
                    </div>
                    <div class="two fields">
                        <div class="eight wide field">
                            <label for="displayedGenre">Genre</label>
                            <input id="displayedGenre" type="text" v-model="reviewForm.displayedGenre"
                                   placeholder="Celui affich&eacute; tel quel dans le mag">
                        </div>
                        <div class="eight wide field ui search primaryGenre">
                            <label for="primaryGenre">Genre MadLL (indexation)</label>
                            <input class="prompt" id="primaryGenre" name="primaryGenre" type="text"
                                   v-model="reviewForm.primaryGenre">
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="eight wide field">
                            <label for="studioName">Studio</label>

                            <input id="studioName" type="text" v-model="reviewForm.studioName"
                                   placeholder="Nom...">
                        </div>
                        <div class="eight wide field ui search country">
                            <label for="country">Pays</label>
                            <input id="country" class="prompt" type="text" v-model="reviewForm.country">
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="two wide fields">
                        <div class="eight wide field">
                            <label for="publisher">Editeur</label>
                            <input id="publisher" type="text" v-model="reviewForm.publisher">
                        </div>
                        <div class="four wide field">
                            <label for="price">Prix</label>
                            <input id="price" type="text" v-model="reviewForm.price">
                        </div>
                    </div>
                </div>
                <h4 class="ui inverted horizontal divider header">Infos du test</h4>
                <div class="row">
                    <div class="two wide fields">
                        <div class="four wide field">
                            <label for="issueNumber">Numéro de parution</label>
                            <input id="issueNumber" type="number" v-model="reviewForm.issueNumber" class="span2">
                        </div>
                        <div class="four wide field ui search plateform">
                            <label for="plateform">Plateforme de test</label>
                            <input id="plateform" class="prompt" type="text" v-model="reviewForm.plateform">
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="eight wide field ui search reviewer">
                            <label for="reviewer">Testeur</label>
                            <input class="prompt" id="reviewer" name="reviewer" type="text"
                                   v-model="reviewForm.reviewer">
                            <div class="results"></div>
                        </div>
                        <div class="six wide field">
                            <label for="score">Note</label>
                            <div class="ui right labeled input">
                                <input id="score" name="score" placeholder="Note..." type="text"
                                       v-model="reviewForm.score">
                                <div class="ui label">/10</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="critic">Avis</label>
                        <textarea id="critic" cols="20" rows="5" v-model="reviewForm.critic"></textarea>
                    </div>
                    <div class="field">
                        <label for="reviewUrl">Lien vers le test sur CPC</label>

                        <input id="reviewUrl"
                               type="url" v-model="reviewForm.reviewUrl" class="span8"
                               placeholder="https://www.canardpc.com...">
                    </div>
                    <button class="ui primary button" @click="saveReview">Enregistrer</button>
                    <button class="ui button" @click="clearForm">Effacer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $('#adminSubmenu').find('> a:contains("Jeux vidéo")').addClass('active');
    });
</script>
<script type="module" src="{{ url_for('static', filename='js/admin/reviews.js') }}"></script>
{% endblock %}