{% extends "admin/v3/admin_layout.html" %}

{% block css_block %}
<style>
    input {
        color: #ffffff !important;
        background-color: #333333 !important;
    }
</style>
{% endblock%}

{% block page_title %}Administration : gestion des testeurs{% endblock %}

{% block admin_content %}
<div class="ui column centered grid" style="padding: 1em;" id="reviewerForm">
    <div class="row">
        <div class="wide column">
            <form class="ui form" @submit.prevent="searchReviewer">
                <div class="inline fields">
                    <div class="eight wide field">
                        <label style="color: #c3c3c3" for="reviewerNameToSearch">Rechercher</label>
                        <input type="text" class="input-large" placeholder="Saisir un nom..."
                               v-model="reviewerNameToSearch"
                               id="reviewerNameToSearch">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" v-if="filteredReviewers.length > 0">
        <div class="wide column">
            <table class="ui inverted celled fixed table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th></th>
                </tr>
                </thead>
                <tbody v-for="reviewer in filteredReviewers">
                <tr>
                    <td>[[ reviewer.name ]]</td>
                    <td>
                        <button class="ui button" @click="editReviewer(reviewer)">
                            <i class="edit icon"></i>
                            Editer
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="wide column">
            <h3>Editer un testeur</h3>

            <form @submit.prevent class="ui inverted form">
                <input type="hidden" v-model="reviewerForm.id">

                <div class="eight wide field">
                    <label for="name">Nom</label>
                    <input id="name" type="text" v-model="reviewerForm.name" required>
                </div>
                <div class="eight wide field" data-bind="validationElement: reviewerTnUrl">
                    <label for="reviewerTnUrl" class="control-label">URL Image</label>
                    <input id="reviewerTnUrl" type="url" v-model="reviewerForm.reviewerTnUrl"
                           placeholder="http://canardpc.com/img/redac/...">
                </div>
                <button class="ui primary button" @click="saveReviewer">Enregistrer</button>
                <button class="ui button" @click="clearForm">Effacer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
{{ super() }}
<script>
    $('#adminSubmenu').find('> a:contains("Testeurs")').addClass('active');
</script>
<script type="module" src="{{ url_for('static', filename='js/admin/reviewers.js') }}"></script>
{% endblock %}