<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted section divider"></div>
        <div class="ui inverted centered grid">
            <div class="eight wide mobile six wide tablet three wide computer column">
                <h4 class="ui inverted header">CanardPC</h4>
                <div class="ui inverted link list">
                    <a class="item" href="https://www.canardpc.com" target="_blank">
                        <i class="world icon"></i> Site Web
                    </a>
                    <a class="item" href="https://boutique.canardpc.com" target="_blank">
                        <i class="shop icon"></i> Boutique
                    </a>
                    <a class="item" href="https://twitter.com/@Canardpcredac" target="_blank">
                        <i class="twitter icon"></i> @Canardpcredac
                    </a>
                    <a class="item" href="https://discord.gg/6Nj4Ajc" target="_blank">
                        <i class="discord icon"></i> Discord
                    </a>
                    <a class="item" href="https://www.twitch.tv/canardpc" target="_blank">
                        <i class="twitch icon"></i> Twitch
                    </a>
                </div>
            </div>
            <div class="eight wide mobile six wide tablet three wide computer column">
                <h4 class="ui inverted header">CoincoinPC</h4>
                <div class="ui inverted link list">
                    <a class="item" href="https://framagit.org/dboissier/coincoinpc"
                       target="_blank">
                        <i class="gitlab icon"></i> Dépôt Framagit
                    </a>
                    <a class="item"
                       href="http://forum.canardpc.com/threads/79371-Coincoin-PC-Projet-de-moteur-de-recherche"
                       target="_blank">
                        <i class="comments icon"></i> Forum
                    </a>
                    <a class="item" href="https://twitter.com/@CoincoinPC" target="_blank">
                        <i class="twitter icon"></i>
                        @CoincoinPC
                    </a>
                </div>
            </div>
        </div>
        <div style="margin-top: 2em;text-align: center; color: #c3c3c3;">
            <p>&copy;Codinjutsu.org 2013-9999 (comme ça on est tranquilles) avec
                l'aimable autorisation de la soci&eacute;t&eacute; Presse Non-Stop.
                <br>CoincoinPC n'est affilié ni &agrave; &copy;Valve ni &agrave; &copy;Steam.
                <br>Les informations et les captures de jeux provenant de plateforme &copy;Steam sont fournies à
                titre indicatif et ne sauraient engager CoincoinPC.</p>
            {% block legal_notice %}{% endblock %}
        </div>
    </div>
</div>