<div class="ui container-fluid">
    <div class="ui secondary inverted menu">
        <a class="{{ ( 'active' if active_coincoinpc_menu_item == True else '') + ' ui tiny header item' }}" href="/index.html">
            <img class="ui tiny avatar image"
                 src="{{ url_for('static', filename='images/img32.png') }}"
                 style="width: 2rem; height: 2rem;"
                 alt="CoincoinPC"
                ><span class="hidden-mobile">CoincoinPC</span>
        </a>
        <a class="{{ ( 'active' if active_coindetable_menu_item == True else '') + ' ui tiny header item' }}"
           href="/coin-de-table/index.html"
           title="Le coin de table"
        >
            <i class="dice inverted icon" style="width: 2rem; height: 2rem;"></i><span class="hidden-mobile">Le coin de table</span>
        </a>
        <a class="{{ ( 'active' if active_canardvapeur_menu_item == True else '') + ' ui tiny header item' }}"
           href="/canard-vapeur.html"
           title="Canard vapeur"
        >
            <span class="canardvapeur icon" style="width: 2rem; height: 2rem;"></span><span class="hidden-mobile">Canard vapeur</span>
        </a>
        {% if has_right_menu %}
        <a class="toc right item" style="color: #c3c3c3;">
            <i class="sidebar icon"></i>
        </a>
        {% endif %}
    </div>
</div>