{% extends 'v3/plato/base_layout.html' %}

{% set home_page = False %}

{% block page_title %}À propos{% endblock %}

{% block content %}
<div class="ui column centered grid">
    <div class="twelve wide mobile fourteen wide tablet six wide computer column">
        <div class="row">
            <div class="ui inverted huge header">
                <div class="content">&Agrave; propos</div>
            </div>
            <div class="ui inverted relaxed items">
                <div class="item">

                    <div class="content">
                        <div class="ui inverted header"><i class="help icon"></i> Pourquoi un tel site</div>
                        <div class="description" style="color: #c3c3c3;">
                            <p>Des tests de jeux de plateau ou jeux de cartes répartis à la fois dans des hors-séries ou
                                dans le magazine CanardPC,
                                ça commençait à être compliqué pour trouver des idées d'achat. Comme pour les tests de
                                jeux-vidéo, l'idée est de proposer
                                un petit outil pour faciliter la recherche de tests de jeux de plateau.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">

                    <div class="content">
                        <div class="ui inverted header"><i class="yellow heart icon"></i> Remerciements</div>
                        <div class="description" style="color: #c3c3c3;">
                            <p>Merci &agrave; la r&eacute;daction de CanardPC de l'avoir autoris&eacute;.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui inverted header"><i class="legal icon"></i> Mentions l&eacute;gales</div>

                        <div class="description" style="color: #c3c3c3;">
                            <p>Les illustrations utilis&eacute;es proviennent du dessinateur Didier Couly.</p>
                            <p>Les ic&ocirc;nes proviennent de la librarie FontAwesome.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}