{% extends 'v3/plato/base_layout.html' %}

{% set home_page = False %}

{% block page_title %}Test de {{ review.title }}{% endblock %}

{% block content %}
<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile twelve wide tablet eight wide computer column">
            <div class="ui inverted centered huge header">
                <div class="content">
                    {{ review.title }}
                    <div class="sub header">
                        {{ review.subTitle }}
                    </div>
                </div>
            </div>
            <div class="ui inverted relaxed items">
                {% if review.coverTnUrl %}
                <img class="ui centered large image" src="{{ review.coverTnUrl }}"/>
                {% endif %}
                <div class="item">
                    <div class="content" style="padding: 0.5em; background-color: #161616;">
                        <div class="header">
                            <a class="ui red link" href="/reviewer/{{ review.reviewer.name }}.html">
                                <img class="ui avatar image"
                                     src="{{ review.reviewer.reviewerTnUrl }}"
                                     decoding="async">
                                {{ review.reviewer.name }}
                            </a>
                        </div>
                        {% if review.reviewIntro %}
                        <div class="description">
                            <p style="font-style: italic; color: #c3c3c3; font-size: larger;">
                                {{ review.reviewIntro | safe }}
                            </p>
                        </div>
                        {% endif %}
                        {% if review.reviewUrl %}
                        <div class="description" style="text-align: center; margin-top: 1em;">
                            <a href="{{ review.reviewUrl }}" target="_blank"
                               class="ui yellow basic button">Voir le test
                                complet<i class="external alternate icon" style="margin-left: 6px;"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    {% if review.issue.specialIssue %}
                    <a class="ui small image" href="/coin-de-table/magazine/{{ review.issue.issueNumber }}.html">
                        <div class="ui yellow right ribbon label">
                            HS N&deg;{{ review.issue.specialIssueNumber if review.issue.specialIssueNumber else
                            review.issue.issueNumber }}
                        </div>
                        <img src="{{ review.issue.coverTnUrl}}" decoding="async">
                    </a>
                    {% else %}
                    <a class="ui small image" href="/magazine/{{ review.issue.issueNumber }}.html">
                        <div class="ui red right ribbon label">
                            N&deg;{{ review.issue.issueNumber}}
                        </div>
                        <img src="{{ review.issue.coverTnUrl }}" decoding="async">
                    </a>
                    {% endif%}
                </div>
                <div class="ui divider"></div>
                <div class="item">
                    <details class="ui inverted basic accordion" open>
                        <summary class="title">
                            <h3>Spécifications du jeu {% if review.extension == True %}(extension){% endif %}</h3>
                        </summary>
                        <div class="content" style="background-color: #161616; padding: 0.5em;">
                            <table class="ui inverted centered very basic collapsing compact unstackable table"
                                   style="margin: 0 auto;">
                                <tbody>
                                <tr>
                                    <td><strong>Catégorie</strong></td>
                                    <td><a href="#">{{ review.category | board_game_label }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Genre</strong></td>
                                    <td><a href="#">{{ review.genres | join(', ') }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Créateur&middot;rice&middot;s</strong></td>
                                    <td style="color: #c3c3c3;">
                                        <a href="#">{{ review.authors | join(', ') }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Illustrateur&middot;rice&middot;s</strong></td>
                                    <td style="color: #c3c3c3;">
                                        <a href="#">{{ review.illustrators | join(', ') }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Éditeur</strong></td>
                                    <td><a href="#">{{ review.publishers | join(', ') }}</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Nombre de joueur&middot;se&middot;s</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.nbPlayers.label }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Nombre de joueur.se.s optimal</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.optimalNbPlayers.label }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Durée</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.duration.label }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Complexité</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.complexity.label }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Prix</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.price.label }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Surface de jeu recommandée</strong></td>
                                    <td style="color: #c3c3c3;">{{ review.recommendedTableSize }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
