{% extends "v3/plato/base_layout.html" %}

{% block page_title %}Classement par titre{% endblock %}

{% set home_page = False %}

{% block content %}
<div class="ui column centered grid">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer column">
            <div class="ui inverted huge header">
                <div class="content">Classement par titre</div>
            </div>

            {% for letter, reviews_per_letter in reviews %}
            <div id="tab{{ letter }}">
                <div class="ui inverted horizontal divider">{{ letter }}</div>
                <div class="ui animated list">
                    {% for review in reviews_per_letter %}
                    <div class="item">
                        <a href="/coin-de-table/review/{{ review._id }}.html">{{ review.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}