{% extends "v3/plato/base_layout.html" %}

{% set home_page = True %}

{% block page_title %}Le moteur de recherche des jeux de plateau sélectionnés par le magazine CanardPC{% endblock %}

{% block css_block %}
<style>
    .ui.search > .results .result {
        background-color: #333333;
    }

    .ui.search > .results .empty {
        background-color: #333333;
    }

    .ui.search > .results .empty > .header {
        color: #c3c3c3;
    }

    .ui.search > .results .empty > .description {
        color: #c3c3c3;
    }

    .ui.search > .results .result:hover {
        background-color: #1b1c1d !important;
    }

    .ui.search > .results .result .title {
        color: #c3c3c3;
    }
</style>
{% endblock %}

{% block left_block %}
{% include 'v3/plato/search_filter.html' %}
{% endblock %}

{% block content %}
<div class="ui centered grid" style="margin-top: 2em;">
    <div class="row">
        <div class="fourteen wide mobile ten wide tablet six wide computer aligned column">
            <div class="ui center aligned icon huge header">
                <img src="{{ url_for('static', filename='images/coin-de-table/pion_dtc.png') }}"
                     class="ui image" alt="Lapin">
                <br>
                <h2 class="ui inverted header">Le coin de table <span class="ui red inverted basic label">beta</span>
                </h2>
                <h3 class="ui inverted header computer only" style="color: #c3c3c3;">Le moteur de recherche des
                    jeux de plateau sélectionnés par le magazine CanardPC
                </h3>
                <form class="ui big form" method="get" action="/coin-de-table/search.html" id="searchForm">
                    <div class="sixteen wide field">
                        <div class="ui search">
                            <div class="ui inverted large icon input">
                                <input aria-label="Rechercer un titre" class="prompt"
                                       placeholder="Rechercher par titre..." type="text" name="searchInput"
                                       autofocus style="background-color: #333333; color: #c3c3c3;">
                                <i class="search inverted link icon" style="color: #c3c3c3;"></i>
                            </div>
                            <div class="reviews"></div>
                        </div>
                    </div>
                </form>
                <div class="ui inverted horizontal divider">OU</div>
                <div class="ui big form">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <button class="ui inverted yellow button" onclick="displayFilter(event)">Rechercher par
                                critères
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui small inverted statistic">
            <div class="value">
                <i class="dice inverted icon" style="color: #c3c3c3;"></i> {{ statistics.boardGameEntryCount }}
            </div>
            <div class="inverted label" style="color: #c3c3c3;">
                Fiches de jeux de plateau / cartes
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script defer>
    $('.ui.search').search({
        apiSettings: {
            url: '/api/plato/search?apiToken={{ api_token }}&searchInput={query}'
        },
        fields: {
            results: 'reviews',
            title: 'title',
            url: 'review_url'
        },
        preserveHTML: false,
        minCharacters: 3,
        error: {
            noResultsHeader: "Aucun titre trouvé",
            noResults: "Votre recherche n'a rien donné",
        }
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plato/filter.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/vuejs/vue.global.prod.min.js') }}"
        defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plato/plato.js') }}" defer></script>
{% endblock %}
