{% extends "v3/plato/base_layout.html" %}

{% set home_page = False %}

{% block page_title %}Liste des HS {% endblock %}

{% block content %}
<div class="ui centered column grid">
    <div class="sixteen wide mobile fourteen wide tablet twelve wide computer column">
        <div class="row">
            <div class="ui inverted huge header">
                <i class="newspaper icon"></i>
                <div class="content">Liste des HS jeux de plateau</div>
            </div>

            <div class="ui inverted segment">
                {% if magazines %}
                <div class="ui six doubling cards">
                    {% for magazine in magazines %}
                    <a href="/coin-de-table/magazine/{{ magazine.issueNumber }}.html" class="ui inverted fluid card">
                        <div class="ui centered small image">
                            <img src="{{ magazine.coverTnUrl }}"/>
                        </div>
                        <div class="content">
                            <div class="header" style="text-align: center">N&deg;{{ magazine.issueNumber }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}