{% extends "v3/plato/base_layout.html" %}

{% block page_title %}résultats de la recherche{% endblock %}

{% block css_block %}
<style>
    .ui.rating .icon {
        color: #bbbbbc;
    }

    .ui.search > .results .result {
        background-color: #333333;
    }

    .ui.search > .results .empty {
        background-color: #333333;
    }

    .ui.search > .results .empty > .header {
        color: #c3c3c3;
    }

    .ui.search > .results .empty > .description {
        color: #c3c3c3;
    }

    .ui.search > .results .result::selection {
        background-color: #1b1c1d;
    }

    .ui.search > .results .result .title {
        color: #c3c3c3;
    }

    .ui.search > .results .result .title::selection {
        color: #ffffff;
    }
</style>
{% endblock %}

{% block left_block %}
{% include 'v3/plato/search_filter.html' %}
{% endblock %}
{% block content %}
<div class="ui column centered grid">
    <div class="twelve wide tablet eight wide computer column">
        <div class="ui inverted segment">
            <div class="ui center aligned header">
                <h4 class="ui inverted header">Le coin de table <span class="ui red inverted basic label">beta</span>
                </h4>
                <form class="ui form" method="get" action="/coin-de-table/search.html" id="searchForm">
                    <div class="fields" style="margin-bottom: 0;">
                        <div class="twelve wide field" style="margin-left: auto; margin-right: auto;">
                            <div class="ui search">
                                <div class="ui inverted icon input">
                                    <input class="prompt" placeholder="Rechercher par titre..." type="text"
                                           name="searchInput"
                                           autofocus style="background-color: #333333; color: #c3c3c3;">
                                    <i class="search inverted link icon" style="color: #c3c3c3;"></i>
                                </div>
                            </div>
                            <div class="ui inverted horizontal divider">OU</div>
                        </div>
                    </div>
                </form>
                <button class="ui inverted yellow button" onclick="displayFilter(event)">Rechercher par
                    critères
                </button>
            </div>
        </div>
        <h3 class="ui inverted header">{{ reviews | length }} <span style="color: #c3c3c3;">r&eacute;sultat(s) trouv&eacute;(s)</span>
        </h3>
        <div class="ui inverted relaxed divided items" id="results">
            {% for review in reviews %}
            <div class="item">
                {% if review.coverTnUrl %}
                <div class="ui small image">
                    <div class="ui left floating pink inverted basic label"
                         title="Prix">
                        {{ review.price.label | truncate(8)}}
                    </div>
                    <img src="{{ review.coverTnUrl }}" decoding="async">
                </div>
                {% endif %}
                <div class="content">
                    <a class="plato-link" href="/coin-de-table/review/{{ review._id }}.html">
                        <span class="ui large text">{{ review.title }}</span>
                        {% if review.extension == True %}<span class="ui inverted basic black label">extension</span>{% endif %}
                    </a>
                    <div class="description">
                        {{ review.subTitle }}
                    </div>
                    <div class="meta">
                        <i class="ui icon users" title="nombre de joueur&middot;se&middot;s"></i>&nbsp;{{
                        review.nbPlayers.label }} joueur&middot;euse&middot;s
                        &nbsp;| <i class="ui icon hourglass half" title="temps de jeu moyen"></i>&nbsp;{{
                        review.duration.label }}
                        &nbsp;| <i class="ui icon brain" title="difficulté"></i>&nbsp;{{ review.complexity.label}}
                    </div>
                    <div class="extra">
                        {% for genre in review.genres %}
                        <span class="ui label">{{ genre }}</span>
                        {% endfor%}
                    </div>
                    <div class="extra">
                        <a href="/reviewer/{{ review.reviewer.name }}.html">
                            <img src="{{ review.reviewer.reviewerTnUrl }}"
                                 class="ui avatar image">
                            {{ review.reviewer.name }}
                        </a>
                    </div>
                    <div class="extra">
                        {% if review.issue.specialIssue == True %}
                        <a href="/coin-de-table/magazine/{{ review.issue.issueNumber }}.html"><i class="newspaper inverted large yellow icon"></i> HS N&deg;{{ review.issue.specialIssueNumber if review.issue.specialIssueNumber else
                            review.issue.issueNumber }}</a>
                        {% else %}
                        <a href="/coin-de-table/magazine/{{ review.issue.issueNumber }}.html"><i class="newspaper inverted large red icon"></i> CPC N&deg;{{ review.issue.issueNumber }}</a>
                        {% endif%}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js_scripts %}
<script>
    $('.ui.search').search({
        apiSettings: {
            url: '/api/plato/search?apiToken={{ api_token }}&searchInput={query}'
        },
        fields: {
            results: 'reviews',
            title: 'title',
            url: 'review_url'
        },
        preserveHTML: false,
        minCharacters: 3,
        error: {
            noResultsHeader: "Aucun titre trouvé",
            noResults: "Votre recherche n'a rien donné",
        }
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plato/filter.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/vuejs/vue.global.prod.min.js') }}"
        defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plato/plato.js') }}" defer></script>
{% endblock %}
