<div id="plato" class="ui inverted wide flyout">
    <i class="close icon"></i>
    <div class="ui inverted header" style="background-color: #161616">
        <i class="filter icon"></i>
        <div class="content">
            Affinez votre recherche
        </div>
    </div>
    <div class="content" style="background-color: #1b1c1d">
        <div style="margin-left: 1.5rem; margin-right: 1.5rem;"><h4>Style de jeu</h4>
            <div class="ui fluid inverted clearable multiple selection dropdown" id="game-style">
                <input type="hidden" name="gameStyle">
                <i class="dropdown icon"></i>
                <div class="default text">Style de jeu</div>
            </div>
            <h4>[[ complexityLabel ]]</h4>
            <div class="ui inverted labeled yellow range slider" id="game-complexity-slider-range"></div>
            <h4><i class="hourglass half icon"></i>[[ durationLabel ]]</h4>
            <div class="ui inverted labeled yellow range slider" id="time-slider-range"></div>
            <h4><i class="users icon"></i> [[ nbPlayersLabel ]]</h4>
            <div class="ui inverted labeled yellow range slider" id="people-slider-range"></div>
            <h4><i class="money icon"></i> [[ priceLabel ]]</h4>
            <div class="ui inverted labeled yellow range slider" id="price-slider-range"></div>
        </div>
    </div>
    <div class="actions">
        <button class="ui left floated inverted button" @click="resetFilter()">
            Réinitialiser le filtre
        </button>
        <button class="ui inverted yellow ok button" @click="searchWithFilter()">
            <i class="checkmark icon"></i>
            Valider
        </button>
    </div>
</div>
