.ui.top.menu {
    background-color: #1c1c1c;
    color: #c3c3c3;
}

.main-content {
    margin-top: 4em;
}

.dark {
    color: #c3c3c3;
    background-color: #1c1c1c;
}

.pusher > .ui.fluid.container {
    margin-top: 5em;
    margin-bottom: 5em;
}

.search-container {
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
    width: 100%;
}

@media (min-width: 320px) {
    .main-content {
        margin-left: 0;
        margin-right: 0;
    }

    .ui.vertical.footer.segment {
        margin-left: 1em;
        margin-right: 1em;
    }


    .search-container {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width: 769px) {
    .main-content {
        margin-left: 5em;
        margin-right: 5em;
    }

    .footer {
        margin-left: 5em;
        margin-right: 5em;
    }

    .search-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1025px) {
    .main-content {
        margin-left: 10em;
        margin-right: 10em;
    }

    .footer {
        margin-left: 20em;
        margin-right: 20em;
    }
}
